input{
    width: 100%;
    padding: 0.75rem;
    border-radius: 6px;
    font-size: 1rem;
}
h2 {
    padding: 1rem;
}

.property-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-info{
    padding: 1rem;
}
.property-location {
    color: #777;
    font-size: 0.9rem;
}

.property-price {
    font-weight: bold;
    margin: 0.5rem 0;
}

.property-button {
    width: 100%;
    padding: 0,75rem;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.properties-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
} 
@media (min-width: 768px){
    .properties-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .properties-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}